.itinerary-plan-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 18rem 1fr 25rem;
    grid-template-rows: 5rem 1fr 2rem;
}

traverse-itinerary-map-toolbar {
    background-color: red;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

traverse-itinerary-event-pane {
    // background-color: purple;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

traverse-map {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

traverse-itinerary-social-pane {
    background-color: green;
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

traverse-itinerary-tab {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}