@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close');


// color
$color-theme-text: rgba(255, 255, 255, 0.5);

$color-theme-1-blue: rgb(54, 101, 107);
$color-theme-1-green: rgb(117, 176, 111);
$color-theme-1-mustard: rgb(218, 216, 135);
$color-theme-1-yellow: rgb(240, 248, 164);

$color-theme-2-black: rgb(49, 54, 71);
$color-theme-2-navy: rgb(67, 86, 99);
$color-theme-2-sage: rgb(163, 176, 135);
$color-theme-2-yellow: rgb(255, 248, 212);

$color-theme-3-navy-1: rgb(27, 60, 83);
$color-theme-3-navy-2: rgb(35, 76, 106);
$color-theme-3-navy-3: rgb(69, 104, 130);
$color-theme-3-beige: rgb(210, 193, 182);

$text-color1: rgba(0, 0, 0, 0.729);

$border-color1: rgba(205, 205, 205, 0.292);

$hover-color: rgba(53, 186, 64, 0.543);


// typography
$font-family-1: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
$font-size-header-1: 1rem;